
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHouseUpdateLabel" translate="smurfHouseApp.houseUpdate.home.createOrEditLabel">Create or edit a House Update</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.houseUpdate.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.houseUpdate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="smurfHouseApp.houseUpdate.operation" for="field_operation">Operation</label>
            <select class="form-control" name="operation" ng-model="vm.houseUpdate.operation" id="field_operation" required>
                <option value="NEW" translate="smurfHouseApp.HouseUpdateOperation.NEW">NEW</option>
                <option value="DELETE" translate="smurfHouseApp.HouseUpdateOperation.DELETE">DELETE</option>
                <option value="PRICEUPDATE" translate="smurfHouseApp.HouseUpdateOperation.PRICEUPDATE">PRICEUPDATE</option>
            </select>
            <div ng-show="editForm.operation.$invalid">
                <p class="help-block"
                    ng-show="editForm.operation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="smurfHouseApp.houseUpdate.update" for="field_update">Update</label>
            <select class="form-control" id="field_update" name="update" ng-model="vm.houseUpdate.update" ng-options="update as update.updateDate for update in vm.updates track by update.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="smurfHouseApp.houseUpdate.house" for="field_house">House</label>
            <select class="form-control" id="field_house" name="house" ng-model="vm.houseUpdate.house" ng-options="house as house.title for house in vm.houses | orderBy:'id' track by house.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
